<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Advanced | Greetings</title>
<link rel="icon" type="image/x-icon" href="../static/ELEMENTS/advanced.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap">
<link rel="stylesheet" href="../static/css/advanced-content.css">
</head>
<body>
  <nav class="fill">
    <ul>
       <div class="logo-container">
        <li><img src="../static/comsigns-logo.png" alt="ComSigns" style="margin-left: 60px; margin-right: 10px;"></li>
        <span class="logo-name"> 
            <span class="logo-text logo-text-blue">COM</span> 
            <span class="logo-text logo-text-green">SIGNS</span>
            </span>
        </div>
      <li><a href="/">Home</a></li>
      <li><a href="/detector" target="blank_">Sign Language Detector</a></li>
      <div class="dropdown">
        <button class="dropbtn"><b>COURSES</b>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/beginner">Beginner</a>
          <a href="/intermediate">Intermediate</a>
          <a href="/advanced">Advanced</a>
        </div>
      </div>
      <li><a href="/aboutus">About Us</a></li>
      <li><a href="/contactus">Contact Us</a></li>
    </ul>
  </nav>
  <img id="label-nav" src="../static/ELEMENTS/advanced.gif">
  <br><BR><BR>

<!---CONTENT-->
<div id="image-container">
  <video id="myVideo" width="500px" height="400px" controls muted>
  <source src="../static/advanced-basic-sentences/Happy Birthday.mov">
  Your browser does not support the video tag.
</video>
<audio id="myAudio">
  <source src="../static/advanced-basic-sentences/Happy birthday.m4a" type="audio/mp4">
  Your browser does not support the audio element.
</audio>

<script>
  const video = document.getElementById("myVideo");
  const audio = document.getElementById("myAudio");

  // Play both video and audio together
  video.onplay = function() {
    audio.play();
  };

  // Pause both video and audio together
  video.onpause = function() {
    audio.pause();
  };

  // Sync audio with video time
  video.ontimeupdate = function() {
    audio.currentTime = video.currentTime;
  };
</script>
</div>

<main>
    <section class="lesson">
      <i><h2>How to say:</h2></i> 
    <h1>Happy birthday</h1>
    </section>
</main>


<p style="font-family: Arial; font-size: 20px; color: black;" class="p"> 
<section class="main-content">
   <p style="color:#000000; font-size: 15px; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-left: 50px;"> 
    Circle flat hand on chest, middle finger touches chin then chest.
    <br><br>

    <a href="/bs8">
        <button class="button"><span>Continue</span></button></a>

</section>


</body>