<!DOCTYPE html>
<html>
  <head>
    <title>ComSigns | Contact Us</title>
    <link rel="icon" type="image/x-icon" href="../static/comsigns-logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact-us.css')}} ">
  </head>

  <body>
    <nav class="fill">
      <ul>
         <div class="logo-container">
          <li><img src="{{ url_for('static', filename='comsigns-logo.png')}} " alt="ComSigns" style="margin-left: 60px; margin-right: 10px;"></li>
          <span class="logo-name"> 
              <span class="logo-text logo-text-blue">COM</span> 
              <span class="logo-text logo-text-green">SIGNS</span>
              </span>
          </div>
        <li><a href="/">Home</a></li>
        <li><a href="/detector">Sign Language Detector</a></li>
        <div class="dropdown">
          <button class="dropbtn">COURSES
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a id="color-b" href="/beginner">Beginner</a>
            <a id="color-i" href="/intermediate">Intermediate</a>
            <a id="color-a" href="/advanced">Advanced</a>
          </div>
        </div>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/contactus"><b>Contact Us</a></b></li>
      </ul>
    </nav>

    <div id="logo-bg">
        <img src="../static/icon-comsigns.png">
    </div>

    <div id="header">
        <p><b>Meet the Developers</b></p>
    </div>



    <div id="container-mariano">
        <img src="../static/member/jhosua.png">
    </div>

    <div id="container-gigante">
        <img src="../static/member/gsel.png">
    </div>

    <div id="container-jamig">
        <img src="../static/member/jamever.png">
    </div>

    <div id="container-vincent">
        <img src="../static/member/jv.png">
    </div>

    <div id="trademark">
        <span class="logo-text logo-text-blue">COM</span> 
        <span class="logo-text logo-text-green">SIGNS</span>
    </div>

    <div id="info-vincent">
        <div id="icon-vincent">
            <img src="../static/member/jv.png">
        </div>
        <p-1><b>John Vincent Briones Yllano</b></p-1>
        <p-2>Address: Teresa, Rizal</p-2>
        <p-3>johnvincentyllanoo@gmail.com</p-3>
        <p-4>Program: Bachelor of Science in Computer Science</p-4>
        <p-5>Campus: University of Rizal System - Morong Campus</p-5>
    </div>

    <div id="info-jeizel">
        <div id="icon-jeizel">
            <img src="../static/member/gsel.png">
        </div>
        <p-1><b>Jeizel Ann Salas Gigante</b></p-1>
        <p-2>Address: Binangonan, Rizal</p-2>
        <p-3>jeizelanng@gmail.com</p-3>
        <p-4>Program: Bachelor of Science in Computer Science</p-4>
        <p-5>Campus: University of Rizal System - Morong Campus</p-5>
    </div>

    <div id="info-jamever">
        <div id="icon-jamever">
            <img src="../static/member/jamever.png">
        </div>
        <p-1><b>Jamever Bronzal Jamig</b></p-1>
        <p-2>Address: Baras, Rizal</p-2>
        <p-3>jameverjamig@gmail.com</p-3>
        <p-4>Program: Bachelor of Science in Computer Science</p-4>
        <p-5>Campus: University of Rizal System - Morong Campus</p-5>
    </div>

    <div id="info-jhosua">
        <div id="icon-jhosua">
            <img src="../static/member/jhosua.png">
        </div>
        <p-1><b>John Jhosua Otayde Mariano</b></p-1>
        <p-2>Address: Morong, Rizal</p-2>
        <p-3>marianojohn870@gmail.com</p-3>
        <p-4>Program: Bachelor of Science in Computer Science</p-4>
        <p-5>Campus: University of Rizal System - Morong Campus</p-5>
    </div>


</body>
</html>
