<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ComSigns | Home</title>
  <link rel="icon" type="image/x-icon" href="../static/comsigns-logo.png">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}} ">
</head>
<body onload="myFunction()" style="margin:0;">
  <div class="loader-m" id="loader">
      <div class="loader-spinner"></div>
  </div>

<div style="display:none;" id="main-body" class="animate-bottom">
<div class="col-1nav">
    <nav class="fill">
      <ul>
        <div class="logo-container">
          <li><img src="../static/comsigns-logo.png" alt="ComSigns" style="margin-left: 60px; margin-right: 10px;"></li>
          <span class="logo-name"> 
            <span class="logo-text logo-text-blue">COM</span> 
            <span class="logo-text logo-text-green">SIGNS</span>
          </span>
        </div>
        <li><a href="/"><b>Home</a></b></li>
        <li><a href="/detector" target="blank_">Sign Language Detector</a></li>
        <div class="dropdown">
          <button class="dropbtn">COURSES</button>
          <div class="dropdown-content">
            <a id="color-b" href="/beginner">Beginner</a>
            <a id="color-i" href="/intermediate">Intermediate</a>
            <a id="color-a" href="/advanced">Advanced</a>
          </div>
        </div>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/contactus">Contact Us</a></li>
      </ul>
    </nav>
</div>

<div class="col-2 content">
 <!--2nd FlexBox Container-->
 <div class="container-secondary">
  <!--LOGO & CONTENTS-->
  <div class="content">
    <div class="scroll-container">
      <img src="../static/comsigns-logo.png" width="250px" height="250px">
      <div class="description">
        <img src="../static/ELEMENTS/desc1 .png" width="800px" height="250px">
      </div>
  </div>
</div>


<div class="col-3 container">
 <!--SCROLL-->   
 <div class="box1">
  <div class="slider-holder">
    <div class="image-holder">
      <img class="slider" src="../static/ELEMENTS/main1.jpg">
      <img class="slider" src="../static/ELEMENTS/main2.jpg">
    </div>
    <script>
      var myIndex = 0;
      carousel();
      
      function carousel() {
        var i;
        var x = document.getElementsByClassName("slider");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
          x[i].style.transition = "3s";  
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}    
        x[myIndex-1].style.display = "block";  
        setTimeout(carousel, 8000);    
      }
    </script>
  </div>
  <div class="main">
    <div class="section beginner">
      <a href="/beginner">
        <h>Beginner</h>
        <img src="../static/ELEMENTS/beginner.png" width="100px" height="55px">
      </a>
    </div>
    <div class="section intermediate">
      <a href="/intermediate">
        <h>Intermediate</h>
        <img src="../static/ELEMENTS/intermediate.png" width="100px" height="55px">
      </a>
    </div>
    <div class="section advanced">
      <a href="/advanced">
        <h>Advanced</h>
        <img src="../static/ELEMENTS/advanced.png" width="100px" height="55px">
      </a>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

      <script>
      function myFunction() {
      setTimeout(showPage, 2000); // Adjust the timeout duration as needed
      }

      function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("main-body").style.display = "block";
      }
      </script>
</div>

     
</body>
</html>
